<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>?</title>
</head>
<body>
    <main>
        <div class="map">
            o mapa vai aqui
        </div>
        <div class="flow-panel">
            <p id="quest">Para onde você<br> gostaria de ir <strong>hoje?</strong></p>

            <div class="timeline-marker">
                <input type="text" name="where" id="where" placeholder="Onde estou?"> <br>
                <!--caixa de texto para ponto de saida-->
                <input type="text" name="go" id="go" placeholder="Para onde vou?"> 
                <!--caixa de texto para destino-->
            </div>

             <div class="search">
                <p>Pesquisar</p>
            </div>
        </div>
        <footer>
        <div class="footer-option">🏠</div>
        <div class="footer-option">🗺️</div>
        <div class="footer-option">⚙️</div>
        </footer>
    </main>
</body>
</html>