<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FluxBus - Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Garet&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<script>
    // Mostrar notificação
    window.addEventListener('DOMContentLoaded', function() {
        const notification = document.getElementById('notification');
        if (notification) {
            // Mostrar
            setTimeout(() => {
                notification.classList.add('show');
            }, 100);
            
            // Esconder automaticamente após 4 segundos
            setTimeout(() => {
                notification.classList.add('hide');
                setTimeout(() => {
                    notification.remove();
                }, 400);
            }, 4000);
        }
    });
</script>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="notification {{ category }}" id="notification">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="login-container">
       <img src="{{ url_for('static', filename='images/Logo_completa.png') }}" alt="Logo FluxBus - Mobilidade Inteligente" class="fluxbus-logo">

        <form class="login-form" method="post" action="{{ url_for('login') }}">
            <input type="email" name="email" placeholder="E-Mail" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit"> Entrar </button>
        </form>

        <p class="register-link">
            Não tem uma conta? <a href="{{ url_for('register') }}">Cadastre-se!</a>
        </p>    

    </div>
</body>
</html>